<!-- Pop-up pentru schimbarea parolei -->
<div id="change-password-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <h3>Schimbă parola</h3>
        <form method="post" action="{{ change_password_url }}">
            {% csrf_token %}
            <div class="password-inputs">
                <div class="password-group">
                    <input type="password" name="old_password" placeholder="Parola curentă" required>
                    <a href="#" onclick="forgotPassword()" class="forgot-password-link">Ai uitat parola?</a>
                </div>
                <input type="password" name="new_password1" placeholder="Noua parolă" required>
                <input type="password" name="new_password2" placeholder="Confirmă noua parolă" required>
            </div>
            <button type="submit" class="btn btn-primary">Actualizează</button>
        </form>
    </div>
</div>

<!-- Pop-up pentru uitarea parolei -->
<div id="forgot-password-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <h3>Am uitat parola</h3>
        <p>Confirmă email</p>
        <p>În câteva momente îți vom trimite instrucțiuni pentru schimbarea parolei</p>
        <form method="post" action="{{ forgot_password_url }}">
            {% csrf_token %}
            <div class="password-group">
                <input type="email" name="email" placeholder="Email" required>
                <button type="submit" class="btn btn-primary">Trimite instrucțiuni</button>
            </div>
        </form>
    </div>
</div>