{% extends "visitor_header.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'user/css/userProfile.css' %}">
</head>

<div class="profile-container">
    {% if valid_link %}
        <h2>Alege o parolă nouă</h2>
        <form method="post">
            {% csrf_token %}
            <label for="new_password">Parolă nouă</label>
            <input type="password" name="new_password" id="new_password" required>

            <label for="confirm_password">Scrie-o din nou</label>
            <input type="password" name="confirm_password" id="confirm_password" required>

            <button type="submit">Schimbă parola</button>
        </form>
    {% else %}
        <div class="error-message">
            <p>Link-ul de resetare a parolei nu este valid sau a expirat.</p>
        </div>
    {% endif %}
</div>
{% endblock %}