{% extends "visitor_header.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'user/css/resetPassword.css' %}">
</head>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="text-center">Resetare parolă</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    {% if valid_link %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="new_password">Parolă nouă</label>
                                <input type="password" name="new_password" id="new_password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirmă parola</label>
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                            </div>
                            <div class="form-group text-center mt-4">
                                <button type="submit" class="btn btn-primary">Schimbă parola</button>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-danger">
                            <p>Link-ul de resetare a parolei nu este valid sau a expirat.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}