{% extends 'teacher_header.html' %}
{% load static %}
{% block title %}
    Editează întrebare
{% endblock %}

{% block content %}
{% block head %}
    <link rel="stylesheet" href="{% static 'teacherDashboard/css/addQuestion.css' %}">
    
    <script>
        const existingCategoryIds = {{ selected_categories|safe }};
    </script>
    
    <script src="{% static 'teacherDashboard/js/addQuestion.js' %}" defer></script>
    <script src="{% static 'teacherDashboard/js/addCourse.js' %}" defer></script>
{% endblock %}

<div class="page-container">
    <div class="container">
        <h2>Editează întrebarea</h2>
        <form method="post" id="question-form">
            {% csrf_token %}
            <div class="form-section">
                <h4>Detalii</h4>
                {{ question_form.question }}
                {{ question_form.answer }}
                
                <!-- lista de categorii selectate -->
                <div class="form-group">
                    <label for="categories">Categorii:</label>
                    
                    <!-- categoriile selectate - precompletate din backend -->
                    <div id="selected-categories" class="selected-categories-display">
                        {% for category in question.categories.all %}
                            <span class="selected-category" data-id="{{ category.id }}">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                    
                    <div id="selected-category-inputs">
                        {% for category in question.categories.all %}
                            <input type="hidden" name="categories" value="{{ category.id }}">
                        {% endfor %}
                    </div>
                    
                    <!-- categorii -->
                    <div class="category-section">
                        <h5>Selectează categoriile:</h5>
                        <div id="category-list" class="category-list-permanent"></div>
                    </div>
                </div>
                
                <input type="hidden" id="question-id" value="{{ question_form.instance.id|default_if_none:'' }}">
            </div>
        </form>
        
        <div class="button-group">
            <button type="button" class="btn btn-primary" id="save-btn" onclick="editQuestion()">Editează</button>
            <button type="button" id="publish-btn" class="btn btn-success" onclick="publishQuestion()">Publică</button>
            <a href="{% url 'interview_questions' %}" class="btn btn-secondary">Cancel</a>
            <button type="button" class="btn btn-danger" id="delete-btn" onclick="document.getElementById('delete-form').submit()">Șterge</button>
            <form method="POST" action="{% url 'delete_question' question.id %}" id="delete-form" style="display:none">
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
{% endblock %}