{% extends "base.html" %}
{% load static %}
<head>
    {% block header %}
    <nav class="navbar-retro">
        <div class="container-fluid-retro">
            <!-- Logo site -->
            <a class="navbar-brand-retro" href="{% url 'student_dashboard' %}">
                <img src="{% static 'teacherDashboard/images/cod-logo.png' %}" alt="COD Logo" class="navbar-brand-img-retro">
            </a>
            
            <!-- Link-uri de navigatie -->
            <ul class="navbar-nav-retro">
                <li>
                    <a class="nav-link-retro" href="{% url 'explore' %}">Explorează</a>
                </li>
                <li>
                    <a class="nav-link-retro" href="{% url 'solve_exercises' %}">Exerciții</a>
                </li>
                <li>
                    <a class="nav-link-retro" href="{% url 'solve_questions' %}">Pregătire interviu</a>
                </li>
            </ul>

            <!-- Profile dropdown -->
            <div class="nav-actions-retro">
                <div class="dropdown">
                    <button class="btn-retro dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                        <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}/media/profile_pictures/poza.jpeg{% endif %}" alt="Profile" class="profile-img-retro">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'student_profile' %}">Vezi profil</a></li>
                        <li><a class="dropdown-item" href="{% url 'student_dashboard' %}">Dashboard</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'student_logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}
</head>